<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="close()" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="login-content">
    <img class="bgnya" src="assets/img/bg2.png">
  <div class="lgn">
   <img class="logo-app" src="{{logo}}" />
    <div class="form-login">
      <h1>COVID-19 <br/>
      SELF ASSASSMENT</h1>
      
    <div class="title">Lupa Password</div>
    <ion-input type="email" name="email" [(ngModel)]="email" placeholder="Masukan email anda"></ion-input>
    <button class="custom-btn" shape="round" (click)="send()">KIRIM</button>
    </div>
  </div>
  </div>
  <!-- <div class="forgetpass-content">
    <img src="/assets/img/auth2.png" />
    <div class="title">Lupa Password</div>
    <ion-input type="email" name="email" [(ngModel)]="email" placeholder="Masukan email anda"></ion-input>
    <button class="custom-btn" shape="round" (click)="send()">KIRIM</button>
  </div> -->
</ion-content>
