<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" slot="start"> <ion-icon name="arrow-back"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Pencarian Reimburse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-searching">
    <ion-item>
      <ion-label position="stacked">Kata kunci</ion-label>
      <ion-input name="keyword" [(ngModel)]="reimburse.keyword" placeholder="(aktivitas/klien/no.laporan)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tanggal Kejadian</ion-label>
      <ion-datetime
        [(ngModel)]="reimburse.tgl_kejadian"
        name="tgl_kejadian"
        display-format="YYYY-MM-DD"
        placeholder="Pilih tanggal kejadian"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tanggal Kirim</ion-label>
      <ion-datetime
        [(ngModel)]="reimburse.tgl_kirim"
        name="tgl_kirim"
        display-format="YYYY-MM-DD"
        placeholder="Pilih tanggal kirim"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Jenis Reimburse</ion-label>
      <ion-select
        [(ngModel)]="reimburse.jenis_reimburse"
        #C
        name="jenis_transport"
        placeholder="Pilih jenis reimburse"
        interface="popover"
      >
        <ion-select-option *ngFor="let t of type_reimburse" [value]="t.id">{{ t.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-select [(ngModel)]="reimburse.status" name="status" placeholder="Pilih Status" interface="popover">
        <ion-select-option *ngFor="let s of status" [value]="s.value">{{ s.text }}</ion-select-option>
      </ion-select>
    </ion-item>
    <br />
    <ion-button type="submit" expand="block" (click)="search()">Cari</ion-button>
    <ion-button color="light" expand="block" (click)="reset()">Reset</ion-button>
  </div>
</ion-content>
