.form-input-custom {
  padding-bottom: 25px;
  ion-label {
    margin-top: 10px;
    font-size: 13.6px;
    &.inline-label {
      width: 38%;
    }
  }
  ion-input,
  ion-datetime {
    font-size: 14px;
  }
  ion-input {
    text-align: right;
  }
  span.between {
    position: relative;
    top: 5px;
  }
}
.divider {
  height: 3px;
  background: #e2e2e2;
  padding: 3px;
  margin-top: 0px;
}
ion-card {
  ion-card-content {
    padding-bottom: 0px;
    .title {
      font-weight: 699;
      font-size: 0.95rem;
      border-bottom: 1px solid #bdbbbb;
      div.date {
        float: right;
        font-size: 0.85rem;
      }
    }
    .detail {
      margin-top: 15px;
      p {
        font-size: 0.75rem;
      }
    }
    .total-price {
      position: absolute;
      float: right;
      background: #ef0b0b;
      padding: 1px 9px;
      top: 75px;
      right: 0px;
      margin-right: 8px;
      border-radius: 4px;
      color: #fff;
      font-size: 0.75rem;
    }
    .total-price-correction {
      position: absolute;
      float: right;
      top: 55px;
      right: 10px;
      font-size: 0.75rem;
      text-decoration: line-through;
    }
  }
}
small.label-only {
  &.price-final {
    margin-top: 5px;
    font-size: 15px;
    color: #ff6f3d;
    font-weight: bold;
  }
  &.correction {
    text-decoration: line-through;
  }
}
