<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" slot="start"> <ion-icon name="arrow-back"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Ganti Kata Sandi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Masukan kata sandi lama</ion-label>
    <ion-input type="password" name="old_password" [(ngModel)]="params.old_password"></ion-input>
  </ion-item>
  <div class="info-input">Kata sandi minimal harus 8 karakter dengan huruf kapital dan angka</div>
  <ion-item>
    <ion-label position="stacked">Masukan kata sandi baru</ion-label>
    <ion-input type="password" name="new_password" [(ngModel)]="params.new_password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Masukan lagi kata sandi baru</ion-label>
    <ion-input type="password" name="confirm_password" [(ngModel)]="params.confirm_password"></ion-input>
  </ion-item>
  <div class="button-bar">
    <ion-button fill="outline" slots="start" size="small" (click)="cancel()">Batal</ion-button>
    <ion-button fill="outline" slots="start" size="small" (click)="changePassword()">Simpan</ion-button>
  </div>
</ion-content>
