.btnmenu{
    padding: 5px;
    border-radius: 10px;
    // background-color: #6AD321;
    display: block;
    width: 100%;
}

.titlebtn{
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: small;
    padding-left: 12px;
    padding-right: 5px;
    // font-family: 'roboto';
  }