<form #formData="ngForm" (ngSubmit)="onSubmit(formData.value)">
  <div [class.hidden]="type == 'sent'" class="info-input-form">
    <ion-row>
      <ion-col size="2"
        ><div class="info-icon"><ion-icon name="information-circle-outline"></ion-icon></div
      ></ion-col>
      <ion-col size="10"
        ><div class="info-text">
         {{info_form}}
        </div></ion-col
      >
    </ion-row>
  </div>
  <ion-item *ngIf="type == 'sent'">
    <ion-label position="stacked">Nomor Laporan</ion-label>
    <small class="label-only">{{
      reimburse.nomor_laporan == '' || reimburse.nomor_laporan == null ? '-' : reimburse.nomor_laporan
    }}</small>
  </ion-item>
  <ion-item [class.hidden]="type == 'sent'" (click)="searchActivityName()">
    <ion-label position="stacked">Nama Aktivitas <span class="required">*</span></ion-label>
    <small class="label-only">{{ reimburse.project }}</small>
    <ion-input
      style="display: none;"
      [attr.readonly]="type == 'sent' || type == 'additem'"
      [(ngModel)]="reimburse.project"
      name="project"
    ></ion-input>
  </ion-item>
  <ion-item *ngIf="type == 'sent'">
    <ion-label position="stacked">Nama Aktivitas</ion-label>
    <small class="label-only">{{ reimburse.project }}</small>
  </ion-item>

  <ion-item [class.hidden]="type == 'sent'" (click)="searchTypeActivity()">
    <ion-label position="stacked">Jenis Aktivitas <span class="required">*</span></ion-label>
    <small class="label-only">{{ reimburse.aktivitas.name }}</small>
    <ion-input style="display: none" [(ngModel)]="reimburse.aktivitas.id" name="activity_id" readonly></ion-input>
  </ion-item>

  <ion-item *ngIf="type == 'sent'">
    <ion-label position="stacked">Jenis Aktivitas </ion-label>
    <small class="label-only">{{ reimburse.aktivitas.name }}</small>
  </ion-item>

  <ion-item [class.hidden]="type == 'sent'" *ngIf="reimburse.aktivitas.is_specify_bendera == 1">
    <ion-label position="stacked">Bendera Aktivitas</ion-label>
    <ion-select [(ngModel)]="reimburse.bendera_aktivitas" name="bendera_aktivitas" placeholder="" interface="popover">
      <ion-select-option *ngFor="let t of listBendera" [value]="t.id">{{ t.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="type == 'sent'">
    <ion-label position="stacked">Bendera Aktivitas </ion-label>
    <small class="label-only">{{ oldData.id_bendera.name }}</small>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nama Klien <span class="required" *ngIf="type != 'sent'">*</span></ion-label>
    <ion-input *ngIf="type != 'sent'" [(ngModel)]="reimburse.klien" name="klien"></ion-input>
    <small *ngIf="type == 'sent'" class="label-only">{{ reimburse.klien }}</small>
  </ion-item>

  <ion-item *ngIf="type == 'sent'">
    <ion-label position="stacked">Pemberi Tugas</ion-label>
    <small class="label-only">{{ leader.name }}</small>
  </ion-item>
  <ion-item *ngIf="type != 'sent'" (click)="showModalLeader()">
    <ion-label position="stacked">Pemberi Tugas <span class="required">*</span></ion-label>
    <small class="label-only">{{ leader.name }}</small>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Jenis Reimburse <span class="required" *ngIf="type != 'sent'">*</span></ion-label>
    <ion-select
      #C
      (ionChange)="onChangeType(C.value)"
      [(ngModel)]="reimburse.jenis_reimburse"
      name="jenis_reimburse"
      placeholder=""
      interface="popover"
      [class.hidden]="type == 'sent'"
    >
      <ion-select-option *ngFor="let t of typeReimburse" [value]="t.id">{{ t.name }}</ion-select-option>
    </ion-select>

    <small *ngIf="type == 'sent'" class="label-only">{{ oldData.id_jenis.name }}</small>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Keterangan <span class="required" *ngIf="type != 'sent'">*</span></ion-label>
    <ion-textarea
      [class.hidden]="type == 'sent'"
      [(ngModel)]="reimburse.keterangan"
      placeholder="{{ placeholder_keterangan }}"
      name="keterangan"
    >
    </ion-textarea>
    <small *ngIf="type == 'sent'" class="label-only">{{ reimburse.keterangan }}</small>
  </ion-item>

  <ion-item [class.hidden]="type == 'sent'">
    <ion-label autofocus="true" position="stacked">Nominal <span class="required">*</span></ion-label>
    <ion-input name="nominal" placeholder="0" [(ngModel)]="reimburse.nominal" type="number"></ion-input>
  </ion-item>

  <ion-item *ngIf="type == 'sent'">
    <ion-label autofocus="true" position="stacked">Nominal</ion-label>
    <small
      class="label-only"
      [class.correction]="oldData.nominal_koreksi != null && oldData.nominal_koreksi != oldData.nominal"
      >{{ reimburse.nominal | formatRupiah }}</small
    >
    <small
      *ngIf="oldData.nominal_koreksi != null && oldData.nominal_koreksi != oldData.nominal"
      class="label-only price-final"
    >
      {{ oldData.custom_nominal_koreksi }}
    </small>
  </ion-item>

  <ion-item>
    <ion-label autofocus="true" position="stacked"
      >Waktu Kejadian <span class="required" *ngIf="type != 'sent'">*</span></ion-label
    >
    <ion-datetime
      *ngIf="type != 'sent'"
      [(ngModel)]="reimburse.tgl_kejadian"
      name="tgl_kejadian"
      display-format="DD-MM-YYYY HH:mm"
      [min]="minDate_report"
    ></ion-datetime>

    <ion-datetime
      *ngIf="type == 'sent'"
      [attr.readonly]="type == 'sent'"
      [(ngModel)]="reimburse.tgl_kejadian"
      name="tgl_kejadian"
      display-format="DD-MM-YYYY HH:mm"
      [min]="minDate_report"
    ></ion-datetime>
  </ion-item>

  <div class="photo-upload">
    <label>Media <span class="required" *ngIf="type != 'sent'">*</span></label>
    <div *ngIf="type != 'sent'" class="list-imgupload scrolling-wrapper">
      <div
        *ngFor="let img of list_img; let i = index"
        (click)="selectImg(i)"
        [class.active]="img_idx == i"
        class="item-img"
      >
        <img src="{{ img }}" />
        <div *ngIf="img_idx == i" class="btn-delete">
          <ion-icon name="trash" (click)="removeImg(img_idx)"></ion-icon>
        </div>
      </div>
    </div>

    <div *ngIf="type == 'sent'" class="list-imgupload scrolling-wrapper">
      <div (click)="prevImage()" *ngFor="let img of list_img; let i = index" class="item-img">
        <img src="{{ img }}" />
      </div>
    </div>

    <ion-button *ngIf="type != 'sent'" (click)="presentModal()" size="small"
      ><ion-icon name="add" slot="start"></ion-icon> Upload Gambar
    </ion-button>
  </div>

  <div class="button-action" *ngIf="type != 'sent'">
    <ion-button type="submit" expand="block">Simpan & Kirim</ion-button>
    <ion-button
      *ngIf="type != 'draft'"
      type="button"
      expand="block"
      (click)="onSaveToDraft(formData.value)"
      color="light"
      >Simpan Sebagai Draft</ion-button
    >
    <ion-button
      *ngIf="type == 'draft'"
      type="button"
      expand="block"
      (click)="onUpdateDraft(formData.value)"
      color="light"
      >Ubah Draft</ion-button
    >

    <ion-button *ngIf="type == 'draft'" type="button" expand="block" (click)="deleteDraft()" color="danger"
      >Hapus Draft</ion-button
    >
  </div>
</form>
