<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" slot="start"> <ion-icon name="arrow-back"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Deteksi Dini (Harian)</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="searchPage()"><ion-icon name="search"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar> -->
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="main-segment" [ngSwitch]="type_segment">
    <div *ngSwitchCase="'form'" class="form-transportation">
      <app-form-transport
        (reload)="reloadData()"
        [typeTransport]="typeTransport"
        [listBendera]="listBendera"
      ></app-form-transport>
    </div>
    <div class="list-draft" *ngSwitchCase="'draft'">
      <app-list-draft [type]="'transportation'" [data]="list_draft"></app-list-draft>
    </div>
    <div class="list-sent" *ngSwitchCase="'sent'">
      <app-list-sent (reloadData)="loadMoreData($event)" [menu]="'transport'" [data]="list_sent"></app-list-sent>
      <div *ngIf="loading_spinner" class="loading-spinner">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
      </div>
      <div
        *ngIf="load_more_sent && !loading_spinner && list_sent.length >= 10"
        class="load-more"
        (click)="loadMoreData()"
      >
        Tampilkan lebih banyak
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-segment mode="md" value="{{ type_segment }}" [(ngModel)]="type_segment">
    <ion-segment-button (ionSelect)="segmentChanged('form')" value="form">
      <div class="segment-content">
        <ion-icon name="document"></ion-icon>
        <label>Page 1</label>
      </div>
    </ion-segment-button>
    <ion-segment-button (ionSelect)="segmentChanged('draft')" value="draft">
      <div class="segment-content">
        <!-- <div class="badge-count">{{ total_draft }}</div> -->
        <ion-icon name="document"></ion-icon>
        <label>Page 2</label>
      </div>
    </ion-segment-button>
    <!-- <ion-segment-button (ionSelect)="segmentChanged('sent')" value="sent">
      <div class="segment-content">
        <div class="badge-count">{{ total_sent }}</div>
        <ion-icon name="clipboard"></ion-icon>
        <label>Terkirim</label>
      </div>
    </ion-segment-button> -->
  </ion-segment>
  </ion-toolbar>
</ion-footer>