<ion-content>
  <div class="maintenance-page">
    <div class="maintenance-title">
      <img src="/assets/img/logo.png" />
      <h1>We are down for maintenance</h1>
      <h4>Be Right Back</h4>
    </div>

    <div class="action-button">
      <h3>You Can Try</h3>
      <ion-grid>
        <ion-row>
          <ion-col size="6"
            ><a href="https://play.google.com/store/apps/details?id=com.ebdesk.monitoringdinaskantor" target="_blank">
              <div class="btn-link">
                <img src="/assets/img/android.png" style="width: 45px;vertical-align: -18px;" />
                <span>Download Oltras App</span>
              </div>
            </a></ion-col
          >
          <ion-col size="6"
            ><a href="https://oltras.indonesiaindicator.com" target="_blank">
              <div class="btn-link">
                <img src="/assets/img/pc.png" style="width: 30px;vertical-align: -10px;margin-top: 8px" />
                <span style="margin-left:10px;">Visit Oltras Desktop</span>
              </div>
            </a></ion-col
          >
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
