.photo-upload {
  margin-top: 20px;
  padding: 10px;
  label {
    font-size: 0.85rem;
    font-weight: bold;
  }
}
.list-imgupload {
  margin-top: 10px;
  max-height: 110px;
  .item-img {
    display: inline-table;
    img {
      width: 45vw;
      height: 30vw;
      object-fit: cover;
      margin-right: 9px;
    }
    .btn-delete {
      position: relative;
      left: 36%;
      top: -75px;
      color: #ffffff;
      font-size: 30px;
      z-index: 1;
    }
  }
  .item-img {
    &.active {
      img {
        filter: brightness(50%);
      }
    }
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.button-action {
  margin-top: 30px;
  margin-bottom: 85px;
}
.required {
  color: red;
}
form {
  padding-bottom: 25px;
}
