<ion-app>
<ion-router-outlet main></ion-router-outlet>
<!-- <ion-backdrop *ngIf="showBackdrop"></ion-backdrop>

<ion-card button
color="tertiary"
*ngIf="!isInstallPromotionDisplayed && Notification?.permission === 'default'"
(click)="requestNotificationPermission()">

<ion-card-header>
<ion-card-title>Enable notifications</ion-card-title>
</ion-card-header>

<ion-card-content>
Do not miss announcements!
</ion-card-content>

<ion-item>
<ion-button color="danger"><ion-icon name="notifications" slot="start"></ion-icon>REQUEST PERMISSION</ion-button>
</ion-item>

</ion-card> -->

</ion-app>