<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" slot="start"> <ion-icon name="arrow-back"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Ubah Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="saveProfile()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-update-user">
    <ion-list>
      <input (change)="readUrl($event)" style="display: none;" #gallery type="file" accept="image/*" />
      <ion-item (click)="gallery.click()">
        <img class="img-profile" [src]="previmg" /><small>Ganti foto</small>
      </ion-item>
    </ion-list>
    <!-- <ion-list>
      <ion-item (click)="changePasswordPage()" detail>
        <small>
          Ganti kata sandi
        </small>
      </ion-item>
    </ion-list> -->

    <!-- <ion-list>
      <ion-item>
        <ion-label position="stacked">Alamat email</ion-label>
        <ion-input type="email" [(ngModel)]="data.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nomor handphone</ion-label>
        <ion-input type="number" [(ngModel)]="data.mobile_phone" name="handphone"></ion-input>
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>
