<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Pilih Pemberi Tugas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="keyword" (ionChange)="searching($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of leaders">
      <ion-label (click)="select(item)">
        {{ item.first_name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
