<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" slot="start"> <ion-icon name="arrow-back"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Perjalanan Dinas</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="searchPage()"><ion-icon name="search"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="type_segment">
      <ion-segment-button (ionSelect)="segmentChanged('form')" value="form">
        <div class="segment-content">
          <ion-icon name="create"></ion-icon>
          <label>Form</label>
        </div>
      </ion-segment-button>

      <ion-segment-button (ionSelect)="segmentChanged('draft')" value="draft">
        <div class="segment-content">
          <div class="badge-count">{{ total_draft }}</div>
          <ion-icon name="clipboard"></ion-icon>
          <label>Draft</label>
        </div>
      </ion-segment-button>
      <ion-segment-button (ionSelect)="segmentChanged('sent')" value="sent">
        <div class="segment-content">
          <div class="badge-count">{{ total_sent }}</div>
          <ion-icon name="clipboard"></ion-icon>
          <label>Terkirim</label>
        </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main-segment" [ngSwitch]="type_segment">
    <div *ngSwitchCase="'form'" class="form-perjalanan-dinas">
      <app-form-perjalanan-dinas
        (reload)="reloadForm()"
        (addListBiaya)="addListItemBiaya($event)"
        [pemakaian]="pemakaian"
        [listBiaya]="list_biaya"
        [type]="'form'"
        (setTglDinas)="setTglDinas($event)"
      ></app-form-perjalanan-dinas>
    </div>
    <div *ngSwitchCase="'draft'" class="draft-perjalanan-dinas">
      <app-list-draft-perjalanan-dinas [draft]="list_draft"></app-list-draft-perjalanan-dinas>
    </div>
    <div *ngSwitchCase="'sent'" class="sent-perjalanan-dinas">
      <app-list-sent-perjalanan-dinas [sent]="list_sent"></app-list-sent-perjalanan-dinas>

      <div *ngIf="loading_spinner" class="loading-spinner">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
      </div>
      <div
        *ngIf="load_more_sent && !loading_spinner && list_sent.length >= 10"
        class="load-more"
        (click)="loadMoreData()"
      >
        Tampilkan lebih banyak
      </div>
    </div>
  </div>
  <ion-fab *ngIf="type_segment == 'form'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addListItemBiaya('add')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
